<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Cambiar Contraseña</h2>
<h3><span>Hola </span><span th:text="${username}"></span></h3>
<h4>Se ha realizado una solicitud para cambiar su contraseña</h4>
<h4>Si ha sido usted, haga clic en el siguiete botón</h4>
<a th:href="@{${chage}}"><button>Cambiar mi contraseña</button></a>
<h4>Si no ha sido usted, por favor contactese con su administrador inmediatamente</h4>
<h4>Gracias,</h4>
<h4>El equipo SIGER</h4>
</body>
</html>