<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Ingreso a SIGER</h2>
<h3><span>Le damos la bienvenida </span><span th:text="${username}"></span></h3>
<h4>Su cuenta en SIGER ha sido creada exitosamente</h4>
<h4>Sus credenciales de acceso son las siguientes: </h4>
<h4>Nombre de Usuario: <span th:text="${username}"></span></h4>
<h4>Previo a iniciar sesión debera establecer su nueva contraseña para usar en SIGER</span></h4>
<a th:href="@{${home}}"><button>Ir a SIGER</button></a>
<h4>Gracias,</h4>
<h4>El equipo SIGER</h4>
</body>
</html>